.profile {
    padding-top: 200px;
    padding-bottom: 120px;
    background-image: url("/website/images/company-bg.jpg");
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
}

.profile-content {
    max-width: 1200px;
    margin: auto;
    color: black;
    background-color: rgba(255,255,255, 0.8);
    border-radius: 5px;
    padding: 35px 65px;
}

.profile h1 {
    font-size: 36px;
    margin-bottom: 24px;
}

.profile h2 {
    font-size: 18px;
    position: relative;
    margin-bottom: 64px;
}

.profile h2::after {
    display: block;
    content: " ";
    border-bottom: 2px solid #3370ff;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    position: absolute;
    width: 80px;
}

.profile p {
    text-align: left;
    line-height: 1.8;
}

.profile p + p {
    margin-top: 24px;
}

.milestone {
    padding: 120px 0;
    text-align: center;
    background-image: url(/website/images/milestone.jpg);
    background-size: cover;
    background-position: center;
}

.milestone > h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
}

.system {
    text-align: center;
    padding: 120px 0;
    color: #ffffff;
    background-image: url("/website/images/services-type.jpg");
    background-position: center;
    background-size: cover;
}

.system h1 {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    margin-bottom: 60px;
    color: black;
}

.system h1::after {
    display: block;
    content: " ";
    border-bottom: 2px solid black;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    position: absolute;
    width: 80px;
}

.system > .page-content > ul {
    display: flex;
    justify-content: space-around;
}

.system-card {
    background-color: rgba(0, 0, 0, 0.66);
    width: 330px;
}

.system-card header {
    background-image: linear-gradient(90deg, #316bf0 0%, #16d4f0 100%);
}

.system-card header {
    padding: 20px 64px;
    background-size: cover;
    font-size: 18px;
    font-weight: bold;
}

.system-card ul {
    text-align: left;
    margin: 40px 50px;
    margin-right: 30px;
}

.system-card ul > li::before {
    content: " ";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("/website/images/icon-checkmark.svg");
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 8px;
}

.system-card ul > li + li {
    margin-top: 20px;
    line-height: 1.8;
}

.home-story {
    overflow: hidden;
    margin: auto;
    margin-left: 10%;
    margin-top: 100px;
    position: relative;
    padding-bottom: 50px;
}

.home-story .swiper-wrapper {
    align-items: stretch;
}

.home-story .swiper-slide {
    min-height: 300px;
    height: auto;
    border-bottom: 1px solid #757575;
    position: relative;
}

.home-story .swiper-slide:before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 1px;
    height: 30px;
    background: #757575;
}

.home-story .t {
    font-size: 22px;
    color: #005bff;
    margin-left: -5px;
}

.home-story .d {
    font-size: 14px;
    line-height: 1.8;
    margin-top: 10px;
    padding-bottom: 40px;
    padding-right: 40px;
    margin-left: -2px;
}

.home-story .swiper-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: static;
    margin-right: 15px;
    border-radius: 50%;
    top: auto;
    bottom: 40px;
    width: 40px;
    height: 40px;
    border: 2px solid #666;
    font-size: 18px;
    color: #666;
    font-weight: bold;
}

.home-story .swiper-btn:hover {
    background: #005bff;
    color: #fff;
    border-color: #005bff;
}

.home-story .hor {
    display: none;
}

.home-story .swiper-btn-next {
    right: auto;
    left: 60px;
}

.home-story .swiper-btn-prev {
    left: 0px;
}

.culture {
    position: relative;
    padding-top: 120px;
    background-image: url('/website/images/culture-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    color: #fefeff;
}

.culture > h1 {
    font-size: 36px;
    margin-bottom: 100px;
    font-weight: bold;
    text-align: left;
}

.culture .list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
    flex: 1;
    z-index: 999;
    gap: 60px;
}

.culture .list li {
    position: relative;
    min-height: 110px;
}

.culture .list li h2 {
    font-size: 30px;
    color: black;
    font-weight: 900;
}

.culture .list li p {
    font-size: 18px;
    margin: 16px 0;
    color: black;
}

.culture .list li::before {
    transform: translate(-50%, -50%);
    content: "";
    width: 110px;
    height: 110px;
    display: block;
    position: absolute;
    background: #ffffff;
    opacity: 0.25;
    border-radius: 50%;
}

.frame {
    border: solid 40px #171d2b;
    border-radius: 40px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset,
    0 5px 10px 5px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    position: absolute;
    bottom: -40px;
    height: 70%;
    z-index: 0;
    right: -40px;
}

.frame img {
    max-height: 100%;
    max-width: 100%;
}

.culture > .page-content {
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
}
