html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.page-header {
  color: #626262;
  padding: 32px 0;
}
.page-header > h1 {
  font-size: 28px;
  color: #000000;
  text-align: center;
  font-weight: bold;
}

.article-info {
  text-align: center;
  margin-top: 16px;
}
.article-info > span {
  margin: 8px;
}

.article-content {
  padding: 32px 0;
  background-color: #f2f2f2;
}
.article-content > p {
  line-height: 1.5;
}
.pagination.page-content {
  margin-top: 32px;
  margin-bottom: 40px;
  color: #626262;
  display: flex;
  justify-content: space-between;
}
