
$pageTop : $t1 + $t2;
.m-header + .pageBox{padding-top: $pageTop;}
@media screen and (max-width: 750px){
	.m-header + .pageBox{padding-top: $mt1;}
}
$head_color: #fff;
$head_color2: #000;
.toper{
	position: fixed; top: 0; left: 0; right: 0; background: #152B36; height:$t1; z-index: 100;
	.wrap{@include flex(12); height: 100%; color:#fff; font-size: 14px; font-weight: bold;}
	a{color:#fff;}
	@at-root{
		.home-body &{
			background: none;
		}
	}
}
.header{height: $t1; position: fixed; box-shadow: 0 2px 18px rgba(0,0,0,.12); @include trans; background: #fff; left: 0; top: 0; width: 100%; z-index: 101; color: #333;
	.header-wrap{@include flexbox($jc:space-between); position: relative; height: 100%;}

	.hh-logo{float:left;
		a{display: block; position: relative;
		}
		img{position: relative; z-index: 1; display: block; height:36px; @include trans;}
	}
	.tt-links{float: right; @include btner($w:140px,$h:42px,$cr:$c2,$bg:transparent,$br:1px solid $c2,$fz:13px,$hs:1); border-radius:5px; margin-top: 29px;}
	.tt-cont{height: 100%; @include flexbox($jc:flex-end);
		li{position: relative; height: $t1;
			a{color:inherit; line-height: $t1; padding:0 13px; font-size: 15px; @include flexbox;}
			i{font-size: 15px;}
			.icon-out{font-size: 20px;}
		}
	}
	.hh-menus{ height: 100%; flex:1; @include flexbox($jc:flex-end); margin-left: 50px;
		dl{position: relative; text-align: center; height: 100%; margin:0 8px;
			&:hover{
				dt{
					a{color:$c2;
						&:after{opacity: 1;}
					}

				}
				dd{@include eventAuto; opacity: 1;}
			}
			&.on{
				dt{
					a{color:$c2;
						&:after{opacity: 1;}
					}
				}
			}
		}
		dt{display: block; position: relative; z-index: 1; height: 100%;
			a{font-size: 15px; height:100%; position: relative; color:inherit; display: block; padding:0 15px; @include flexbox; @include trans(.3s);
				// &:after{ @include trans; opacity: 0; width:100%; position: absolute; content:""; left: 0; right: 0; bottom: 0; height: 4px; z-index: -1; width: 100%; background: $c2;}
			}
		}
		dd{position: absolute; top:100%; left:0; box-sizing: border-box; width: 200px; background-color: #fff; text-align: left; opacity: 0; box-shadow: 0 2px 5px rgba(0,0,0,.3);
			@include eventNone; @include trans(.3s);
			a{display: block; padding:8px 15px; font-size: 13px; color:#333; line-height: 30px; @include trans; position: relative;
				&:nth-child(n+2){
					&:after{position: absolute; left: 15px; right: 15px; content:""; border-top: 1px solid #ddd; top: 0;}
				}
				&:hover{color:$c2; background: #F6F8F7;}
			}
		}
    }
	.tt-pends{float: right;}
	.hh-search{margin-right: 10px;
		a{color:inherit; font-size: 20px; padding:0 10px; @include hc;
			i{position: relative; top: 0;}
		}
	}
	.hh-lang{float: left; margin-left: 10px; position: relative; cursor:pointer; font-size: 15px; text-align: center; box-sizing: border-box;
		a{height:$t1; @include hc; box-sizing: border-box; @include flexbox; color:inherit; border-radius:50%; font-size: 15px;}
		i{font-size: 18px; margin-right: 6px; position: relative; top: 2px;}
	}
	.search-box{ height: 36px; @include trans; box-shadow:0 2px 5px rgba(0,0,0,.3); @include scale(0); opacity: 0; pointer-events: none; position: absolute; line-height: 36px; top:100%; right: 0; padding:5px 8px; background:#fff;
		input{ width: 260px; height: 36px; border:0; border:1px solid $c2; background:#fff; border-radius:8px; padding:0 8px; box-sizing: border-box; font-size: 15px; @include trans;  cursor:pointer;}
		button{position: absolute; color:#fff; top: 5px; right: 8px; width: 36px; line-height: 36px; text-align: center; background: $c2; border-radius:0 8px 8px 0; border:none; font-size: 20px; }
		&.open{@include scale(1); opacity: 1; pointer-events: auto;}
	}
	.tt-share{margin-left: 10px; float: left; margin-top: 22px;
		a{float: left; width: 40px; height: 40px; box-sizing: border-box; padding:8px;
			img{width: 24px; height: 24px; display: block;}
		}
	}
	.lucky-lang{position: relative; font-size: 15px; @include flex(12);
		a{padding:0 8px; font-size: 15px;  @include hc;}
	}
    &.vblack{  top: 0;
		&:before{width:100%;}
    }
}
@media screen and (max-width: 1450px){
	.toper{
		.hh-logo{
			img{height: 40px;}
		}
		.hh-menus{
			dt{
				a{font-size: 13px; padding:0 10px;}
			}
		}
		.tt-share{display: none;}
		.search-box{
			input{width: 120px;}
		}
	}
}
@media screen and (max-width: 1300px){
	.header{
		.hh-menus{
			dt{
				a{padding:0 12px;	}
			}
		}
	}
}
// header

.m-toper{
	display: none; height: 60px; position: fixed; left: 0; background:#fff; width: 100%; top: 0; z-index: 100; box-shadow:0 2px 5px rgba(0,0,0,.3);
	.wrap{@include flexbox($jc:space-between); height: 100%;}
	.hh-logo{flex:1;
		img{display: block; height: 40px; }
	}
	.hh-lang{float: right; position: relative; margin-right: 50px; color:$c2; font-size: 24px;}
}
.m-header{position: fixed; display: none; pointer-events:none; top: $mt1; bottom: 0; left: 0; z-index: 100; width: 100%;
	.m-header-layer{position: absolute; top: 0; left: 0; width: 100%; opacity: 0; height: 100%; background:rgba(0,0,0,.3); @include trans; pointer-events:none;}
	.m-header-box{margin-left: 100%; width: 80%; background:#fff;  position: relative; z-index: 1; height: 100%; overflow: hidden; overflow-y: auto; @include trans;}
	.hh-menus{
		.search-box{padding:8px 10px; position: relative; line-height: 36px; border-bottom: 1px solid #666; background:#000;
			input{ width: 100%; height: 36px; border:0;  background:#eee; opacity: 1; border-radius:8px; padding:0 8px 0 36px; box-sizing: border-box; font-size: 15px; @include trans;  cursor:pointer;}
			button{position: absolute; top: 8px; left: 10px; width: 36px; line-height: 36px; text-align: center; background: none; color:inherit; border:none; font-size: 20px; pointer-events:none;}
		}

		dl{position: relative; border-bottom: 1px solid #ddd;
			dt{
				a{display: block; background:#fff; height: 45px; line-height: 45px; padding:0 15px; font-size: 14px; color:#333;}
				.l-icon{font-size:20px;position:relative;top:2px;}
			}
			dd{padding:8px 0; width: auto!important; background: #fff; display: none;
				.gezi:nth-child(n+2){padding-top: 8px; margin-top: 8px; border-top: 2px dotted $c1;}
				img{width: 50px; height: 50px; margin-right: 20px;}
				a{display: block; color:$c2; @include flexbox($jc:flex-start); line-height: 20px; padding:6px 10px; margin-left: 10px; font-size: 14px; overflow: hidden; white-space:nowrap; text-overflow:ellipsis;}

			}
			&:hover,&.on{
				dt a{background:rgba($c2,1); color:#fff;}
				dd{display: block;}
			}
			&.hhm-lang{
				dt{
					img{width: 28px; height: 28px; margin-right: 10px; vertical-align: middle; position: relative; top: -2px;}
				}
				dd{
					img{width: 28px; height: 28px; margin-right: 10px;}
				}
			}
		}
	}
	&.over{
		.m-header-layer{opacity: 1; pointer-events:auto;}
		.m-header-box{@include translate(-100%);}
	}
}
.full-menus{@include trans; position: fixed; left: 0; top: $t1+$t2; width: 100%; z-index: 100; background:#fff;}
.fdMenus{box-shadow:0 3px 10px 1px rgba(0,0,0,.2); display: none; background:#fff; color:#333;
	.wrap{@include flexbox(flex-start,flex-start); height: 360px;}
	.secPhoto{width:280px;  margin-top: 30px;
		.pic{height: 160px; display: block; @include hoverScale;}
		.tit{font-size: 16px; text-align: center; margin-top: 10px; display: block; color:$c2; font-size: 16px;}
	}
	.secNav{margin-left: 20px; margin-top: 30px; width: 280px;
		a{ display: block; @include trans; overflow: hidden; font-size: 14px; line-height: 18px; padding:8px 12px;}
		a.active{color:#fff; background:$c2;}
		.iconfont{float: right; margin-right: 5px; font-size: 12px; color:#fff;}
	}
	.thirdNav{height: 100%; flex:1;
		.tnavs{height: 100%; width: 100%; box-shadow:0 3px 10px 1px rgba(0,0,0,.2); display: none; @include flexbox($fd:column,$fw:wrap,$jc:flex-start,$ai:flex-start,$ac:flex-start); box-sizing: border-box; box-sizing: border-box; padding:30px 20px 0;}
		a{display: block; width: 50%; font-size: 14px; line-height: 20px; padding:8px 0;  @include hc; @include hu;}
	}
}
@media screen and (max-width: 750px){
	.full-menus{top:$mt1; bottom: 0; background:rgba(0,0,0,.3); width: 100%; display: none;}
	.fdMenus{
		.wrap{height: auto; @include flexbox(flex-start,stretch);}
		.secPhoto{display: none;}
		.secNav{width: 38%; margin-left: 0; margin-top: 20px; margin-bottom: 20px;
			a{padding:8px 5px;}
		}
		.thirdNav{margin-left: 4%; flex:1; margin-right: -10px;
			.tnavs{padding: 20px;}
			a{width:100%;}
		}
	}
}
/*底部*/
.footer{  line-height: 1.8; position: relative; z-index: 100;
	.ft-center{background: #272727;  padding:60px 0; color:#fff;
		.ftc-wrap{@include flexbox($jc:space-between,$ai:stretch);}
		@include media(sm){
			.ftc-wrap{display:block;}
		}
	}
	.ft-helps{text-align: left; flex:1; box-sizing: border-box; flex:1; @include flexbox($ai:flex-start);
		dl{padding-right: 20px; box-sizing: border-box; flex:1;}
		dt{font-size: 16px; line-height: 1.4; height: 40px;
			a{color:inherit; font-size: inherit;}
		}
		dd{line-height: 26px; font-size: 14px;
			a{display: block; padding:5px 0; line-height: 20px; color:#AFAFAF; @include hu;
			}
		}
		.col2{flex:2;
			dd{@include flex(112);
				a{width:50%;}
			}
		}
	}
	.ft-codes{width: 150px; margin-left: 8%;
		.ma{width: 120px; display: block;}
		&>img{width: 120px;}
		span{font-size: 18px; color:#fff; display: block; margin-top: 10px;}
	}
	.ft-share{@include flex(11);
		h2{font-size: 24px; color:$c3; line-height: 1.2; font-weight: normal; }
		a{ box-sizing: border-box; margin-right: 10px;
			img{height: 28px; width: 28px; display: block;}
		}
		.shares{margin-top: 20px;}
	}
	.links{@include flexbox($fw:wrap,$jc:flex-start); flex:1; margin-top: 20px;
		a{color:inherit; @include hu; font-size: 14px;  color:#9D9D9D; margin-left: 15px;}
	}
	.bottomCopyr{font-size: 14px; padding:20px 0;  color:#BABABA; background:#000;
		.br-wrap{@include flexbox($jc:space-between);}
		.bcleft{@include flex(122);}
		.ftlogo{margin-right: 25px;
			img{height: 48px; display: block;}
		}
		 a{color:inherit; margin-left: 8px;
			&:hover{color:#fff;}
		}
	}

}

@media screen and (max-width: 750px){
	.footer{
		.ft-center{padding:35px 0;
			.wrap{display: block; padding:0 10px;}
		}
		.ft-helps{margin-left: 0; display: block;
			dl{float: none; width:100%; padding-right: 0; margin-top: 15px;}
			dt{
				a{@include flexbox($jc:space-between);
					&:after{content:"+"; margin-right: 20px; font-size: 18px;}
				}
			}
			dd{margin-top: 8px;height: 0;
        transition: height 5s;}
			dl.open{
				dt a:after{content:"-";}
				dd{
          height: 100px;
          transition:height 5s;
        }
			}
		}
		.ft-share{margin-top: 30px;}
		.ft-codes{margin-left: 0; margin-top: 20px;}
		.bottomLink{margin-left: 0; margin-top: 10px;}
		.bottomCopyr{ display: block;
			.wrap{display: block;}
			.bcleft{display: block;}
			.ftlogo{margin-right: 0; margin-bottom: 15px;}
			a{margin-left: 0;}
		}
	}

}
.backTop{width: 58px; z-index: 100; opacity: 0; box-shadow:0 2px 4px rgba(0,0,0,.25); pointer-events:none; -webkit-transition:all 0.3s;transition:all 0.3s; height: 58px; position: fixed; bottom: 70px; right: 20px; background-color: #fff; border-radius:50%; text-align: center; color:#000; box-sizing:border-box; @include flexbox;
	i{font-size: 45px; line-height: 45px;}
	&:hover{background-color:$c1; color:#fff;}
	&.over{opacity: 1; pointer-events:auto;}
}
@media screen and (max-width: 1200px){
	.toper .search-box{display: none;}
}
@media screen and (max-width: 750px){
	.toper,.header{display: none;}
	.m-toper,.m-header{display: block;}
	.m-header.over{pointer-events:auto;}
	.pageBox{@include trans;
		&.out{@include translate(-80%);}
	}
	.foot-center{display: none;}
	.wap-menu-mask{position: absolute; z-index: 90; top: 60px; width: 100%; bottom: 0; pointer-events:none;}
	.wap-menu-mask.open{pointer-events:auto;}
	.m-pulleft{@include trans;}
	.m-pulleft.close{@include translate(-80%,0);}
}



.home-pageIn{
	width: 100%; height: 100%; position: relative; overflow: hidden;
	.videobox{width: 1920px; height: 1080px; position: absolute; left: 50%; margin-left: -960px; top: 50%; margin-top: -540px;
		video{width: 1920px; height: 1080px; @include eventNone;}
	}
}

.secNavs{padding:30px 0;
	.secTit{float: left; font-weight: normal; color:#535353; line-height: 36px;}
	.secMenus{float: right;
		a{min-width:80px; @include trans; line-height: 36px; float: left; text-align: center; padding:0 10px; color:#535353; font-size: 12px; margin-right: 20px; border-bottom: 1px solid #ddd;
			&:hover,&.on{border-bottom-color:$c1;}
		}
	}
}
@media screen and (max-width: 750px){

	.leTitle{height: 120px; line-height: 120px;}
	.secNavs{
		.secTit{float: none;}
		.secMenus{float: none;
			a{width: 30%; margin-left: 5%; margin-right: 0; box-sizing: border-box;
				&:nth-child(3n+1){margin-left: 0;}
			}
		}
	}

}

.comViews{padding:60px 0; position: relative;  color:#fff; text-align: center; background: $c2; @include bgcover;
	.wrap{position: relative; z-index: 1;}
	.cvtitle{font-size: 30px; font-weight: normal;}
	.info{font-size: 16px; line-height: 36px; margin-top: 50px;}
	.abtn{@include btner($w:142px,$h:40px,$bg:$c2,$fz:14px,$hs:7,$br:0,$cr:#fff); border-radius:20px;}

}
@media screen and (max-width: 750px){
	.comViews{padding:40px 0;}
}


.pageTurning{ text-align: center; margin-bottom: 80px; margin-top: 50px;
	a{display: inline-block; margin:0 30px; padding:0 5px; font-size: 16px; color:#333; @include hc($c3); @include hu;}
}
@include media(sm){
	.pageTurning{margin:20px 0 30px;}
}
.pageMore{display: block; margin-top: 20px; text-align: center; padding-bottom: 50px;
	.loadMore{display: inline-block; width: 168px; @include trans; height: 52px; border:1px solid #bbb; font-size: 16px; text-align: center; color:#444; line-height: 52px;
		&:hover{background:$c1; border-color:$c1; color:#fff;}
	}
	.supporting{display: none;}
}
.pageMore-reverse{
	.loadMore{color:#fff;}
}

.page-gray{background:#f2f2f2;}

.sideTools{
	position: fixed; z-index: 999; top: 40%; right: 0; background:#5E3F63; width: 70px;
	.item{border-top: 1px solid #7D6980; position: relative;
		&:first-child{border-top: 0;}
		.inTxt{height: 90px; background:#5E3F63; position: relative; z-index: 2; @include trans; @include flexbox($fd:column); color:#B4B4B4;
			i{font-size: 28px;}
			span{font-size: 13px; margin-top: 5px;}
			&:hover{color:#fff;}
		}
		.inAway{position: absolute; width: 140px; @include trans; left: 0; top: 0; height: 100%;  @include flexbox; padding:0 20px; background:#5E3F63; color:#fff; font-size: 18px;}
		&:hover .inAway{@include translate(-100%);}
	}
}
.disTit{margin:0 auto; text-align: center; position: relative; color:inherit;
	h1{font-size: 34px; font-weight: normal; line-height: 1.4;}
	h2{font-size: 30px; font-weight: normal; line-height: 1.4;}
	h3{font-size: 24px; font-weight: normal; line-height: 1.4;}
	.hh1{font-size: 40px; font-weight: normal; line-height: 1.4;}
	.hh3{font-size: 42px; font-weight: normal; line-height: 1.4;}
	.hh2{font-size: 32px; font-weight: normal; line-height: 1.4;}
	h4{font-size: 20px; font-weight: normal; line-height: 1.4;}
	h5{font-size: 16px; margin-bottom: 20px; line-height: 2.2; font-weight: normal;}
	.d{font-size: 16px;  line-height: 1.8; font-weight: normal;}
	.d2{font-size: 16px; line-height: 1.8; color:#777; font-weight: normal;}
	.d3{font-size: 14px; line-height: 1.8; color:#555; font-weight: normal;}
	.handle{@include btner($w:142px,$h:40px,$bg:$c2,$fz:14px,$hs:7,$br:0,$cr:#fff); border-radius:20px;}
	.handle2{@include btner($w:142px,$h:40px,$bg:none,$fz:14px,$hs:7,$br:1px solid #fff,$bs:1px,$cr:#fff); }
	img{max-width:100%;}
	@include media(sm){
		h1{font-size: 22px;}
		h2{font-size: 18px;}
		h3{font-size: 16px;}
		h4{font-size: 16px;}
		.d{font-size: 14px; }
		.hh1{font-size: 24px; font-weight: normal;}
		.hh2{font-size: 24px; font-weight: normal;}
		.hh3{font-size: 20px; font-weight: normal;}
		.d2{font-size: 14px;}
		.handle{width: 140px; height: 42px; line-height: 42px; font-size: 15px; margin-top: 15px;}
		img{height:auto!important;}
	}
}
.gliner{position: relative; padding-top: 15px;
	&:after{content:""; @include trans; position: absolute; top: 0; height: 2px; left: 0; width: 47px; background:$c2;}
	&:hover:after{width: 80px;}
}

// 视频播放弹层
.layer-openVideo{width:800px; height: 500px; max-width: 100%; max-height: 100%; overflow: hidden; background:#000;}
.layer-openVideo iframe{width: 800px; height: 100%;}
@media screen and (max-width: 750px){
	.layer-openVideo{width:90vw; height: 60vw;
		iframe{width:90vw; height: 100%;}
	}
}
.artTitleH1{font-size: 30px; font-weight: normal; line-height: 1.6; color:#000; position: relative;
	&.liner{padding-bottom: 15px;
		&:after{position: absolute; bottom: 0; left: 0; width: 44px; content:""; height: 2px; background:$c2;}
	}
	&.tac.liner:after{left: 50%; margin-left: -22px;}
}
.artTimes{font-size: 16px; color:#666;}
.artContent{font-size: 16px; line-height: 1.8;
	img{max-width:100%; height:auto!important;}
}
.artMain{
	padding:60px 0 70px;
}
.crumbsTab{height: 40px; background: rgba(0,0,0,.7); right: 0; position: absolute; top: $t1; left: 0; z-index: 10;
	.wrap{@include flexbox($jc:flex-start); height: 100%; font-size: 14px; color:#BABABA;
	}
	i.icon-home{font-size: 20px; margin-right: 15px; position: relative; top: 2px;}
	a{height: 40px; @include flexbox; color:inherit; @include hu; position: relative; margin-right: 10px;
		&:after{margin-left: 5px; @include flexbox; text-decoration: none; width: 20px; height: 100%; content: "-";  }

	}
	a:hover:after{text-decoration: none;}
	span{}
}
.gb-crumbsTab{
	line-height: 28px; box-sizing:content-box; padding:20px 0; background:#F5F5F5;
	.crumb{font-size: 14px; color:#aaa;
		a{display: block; float: left; color:inherit; @include hu;}
		i{float: left; margin:0 15px;}
		span{float: left; color:#222;}
	}
}

@media screen and (max-width: 750px){
	.artTitleH1{font-size: 24px;}
	.artContent{font-size: 14px;
		table{width:100%!important;}
		img{height:auto!important;}
	}
	.crumbsTab{top:$mt1; height: 40px;
		a{ margin-right: 10px;}
	}
}

.graybody{background:#EEEEEE;}


.zyimg-info{ @include flexbox($ai:stretch); background:$c2; text-align: center; color:#fff;
	&.flexreverse{flex-direction:row-reverse;}
	.pic{width:50%; @include hoverScale; position: relative;
		img{display: block; width: 100%;}
		.img{display: block; width: 100%;}
		.cover-btn{position: absolute; top: 0; left: 0; @include flexbox; width: 100%; height: 100%;
			i{color:#fff; font-size: 80px;}
		}
		.cover-shadow{position: absolute; position: absolute; right: 0; top: 0; width: 60%; height: 100%; background:linear-gradient(90deg, transparent 0%, #222 100%);
			&.csleft{right: auto; left: 0; background:linear-gradient(270deg, transparent 0%, #222 100%);}
		}
	}
	.info{width:50%; min-height:600px; box-sizing: border-box; padding:100px 4% 100px 4%; padding-right:calc(50% - 600px); @include flexbox($fd:column,$ai:stretch,$jc:flex-start);
		.t{font-size: 32px; display: block; width: 100%; font-weight: normal;}
		.t2{font-size: 26px; display: block; width: 100%; font-weight: normal;}
		.d{width: 100%; font-size: 16px; line-height: 1.8; margin-top: 40px; display: block;}
		.d2{width: 100%; font-size: 16px; color:#aaa; line-height: 2; display: block;}
		.hand{@include btner($br:1px solid #fff,$bg:none,$w:170px,$h:50px,$cr:#F9DF32,$fz:17px); margin-top: 25px; }
	}
	&.zyimg-black{background:#222222; color:#fff;}
	&.zyimg-gray{background:#C9CACA; color:#fff;}
	&.zyimg-gray2{background:#F8F6F4; color:#212121;}
	&.zyimg-bg1{background:#BF9C3B; color:#fff;}

	&.zyimg-6-4{
		.pic{width: 40%;}
		.info{width: 60%; padding:100px 5% 100px 5%;}
	}
}
@media screen and (max-width: 750px){

	.zyimg-info{display: block;
		.pic{width: 100%!important; display: block; height: 75vw;}
		.info{width: 100%!important; min-height:auto; height: auto; padding:40px 4%;
			.t{font-size: 28px;}
			.t2{font-size: 22px;}
			.d{font-size: 14px;}
		}
		&.zyimg-6-4{
			.pic{width: 40%;}
			.info{width: 60%; padding:50px 10px; min-height:200px;}
		}
	}
}

.hashbox{position: relative;}
.hashtag{position: absolute; height: 1px; overflow: hidden; visibility:hidden; top:- $t1 - $t2; }
@media screen and (max-width: 1080px){
	.hashtag{top:-$mt1;}
}
.light-link{color:$c2; text-decoration: underline; @include trans;
	&:hover{opacity: 0.9; color:$c2;}
}

@media screen and (max-width: 750px){
    .system .page-content ul {
        display: block;
    }

    .page-content ul .system-card {
        margin: 35px auto;
        padding-bottom: 1px;
    }
}

@media screen and (max-width: 750px) {
    .culture .list li {
        position: relative;
        min-height: 68px;
        font-size: 10px;
    }

    .culture .list li::before {
        transform: translate(-50%, -50%);
        content: "";
        width: 60px;
        height: 60px;
        display: block;
        position: absolute;
        background: #ffffff;
        opacity: 0.25;
        border-radius: 50%;
        left: 20px;
        top: 6px;
    }

    .culture .list li p {
        font-size: 16px;
        margin: 28px 0 0 0;
    }

    .culture .list {
        display: flex;
        flex-wrap: wrap;
        height: 500px;
        flex: 1;
        z-index: 100;
        gap: 40px;
        flex-direction: row;
    }

    .culture {
        padding: 2rem;
        height: 880px;
    }

    .culture .list li h2 {
        font-size: 20px;
    }

    .culture > h1 {
        margin-bottom: 50px;
    }

    .profile-content {
        padding: 35px 28px;
    }

    .profile {
        padding-top: 120px;
    }

    .news-cover .page-content .breadcrumb {
        display: none;
    }

    .news-cover .page-content .page-title {
        margin-left: 10px;
    }

    .news-list > li {
        display: flex;
    }

    .news-list .time {
        width: 140px;
    }

    .news-list > li .content {
        margin-left: 20px;
    }

    .category a {
        padding: 20px 30px;
    }

    .cover {
        background-position: right;
    }

    .news-list li:after {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        background: #005BFF;
        height: 3px;
        content: "";
    }

    .page-header {
        min-width: 110px!important;
    }

    .article-info span {
        margin-right: 0!important;
        display: block;
    }

    .article-content {
        padding: 32px 20px;
    }
}

@media screen and (max-width: 1200px) {
    .site-header {
        background-image: url('/website/images/dark-header-bg.png')
    }
}

