.hero {
  height: 594px;
  --swiper-theme-color: #fff;
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-text {
  position: absolute;
  color: #fff;
  left: 120px;
  text-align: left;
}
.swiper-text > * {
  margin-top: 24px;
}
.swiper-text > h3 {
  font-size: 30px;
}
.swiper-text > h1 {
  font-size: 60px;
}
.swiper-text > ul {
  display: flex;
}
.swiper-text > ul :not(li:last-child)::after {
  content: "|";
  margin: 0 6px;
}

.advantage {
  /*background-image: url("/website/images/advantage-bg.png");*/
  padding: 140px 0;
  background-color: #ebebeb;
}
.advantage > h1 {
  margin-bottom: 30px;
  font-size: 30px;
    color: black;
}
.advantage > p {
    color: #2f2f2f;
  max-width: 800px;
  line-height: 1.8;
  margin: auto;
}
.advantage-card {
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  background-image: url("/website/images/advantage-card-bg.png");
  color: #333333;
  line-height: 1.8;
  margin: auto 60px;
  border-radius: 12px;
  padding: 60px;
  padding-left: 100px;
  padding-right: 300px;
  text-align: left;
  margin-top: 50px;
}
.advantage-card li:not(:last-child) {
  margin-bottom: 40px;
}
.advantage-card li > strong {
  font-weight: bold;
}

.advantage-card li > p {
  display: inline;
}

.service {
  text-align: center;
  padding-top: 120px;
  background-color: #eef3ff;
  padding-bottom: 120px;
}
.service h1 {
  font-size: 30px;
  color: #333333;
  margin-bottom: 120px;
}
.service ul {
  display: flex;
  justify-content: space-between;
}
.service ul li {
  max-width: 200px;
}
.service li h3 {
  font-size: 18px;
  color: #333333;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: bold;
}
.service li > p {
  line-height: 24px;
  color: #8d979d;
}
.service .icon-box {
  width: 90px;
  height: 90px;
  margin: auto;
  border-radius: 12px;
}
.value-added {
  text-align: center;
  padding: 120px 0;
  max-width: var(--content-width);
  margin: auto;
}
.value-added h1 {
  font-size: 30px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 60px;
}
.value-added > ul {
  display: flex;
  justify-content: space-around;
}

.value-added-card {
  box-shadow: 0px 3px 3.5px rgba(0, 0, 0, 0.16);
  width: 290px;
}

.value-added-card:nth-child(1) > header {
  background-image: url("/website/images/index/value-added-card-header-bg-1.jpg");
}
.value-added-card:nth-child(2) > header {
  background-image: url("/website/images/index/value-added-card-header-bg-2.jpg");
}
.value-added-card:nth-child(3) > header {
  background-image: url("/website/images/index/value-added-card-header-bg-3.jpg");
}

.value-added-card > header {
  padding: 32px 64px;
  background-size: cover;
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
}

.value-added-card > ul {
  list-style-type: disc;
  text-align: left;
  margin: 40px 50px;
  margin-right: 30px;
}

.value-added-card > ul > li + li {
  margin-top: 20px;
  line-height: 1.8;
}
