.cover.news-cover {
  background-image: url("/website/images/news-cover-bg.jpg");
}
section.news {
  padding: 80px 0;
}
.news-list {
  max-width: var(--content-width);
  margin: auto;
  margin-bottom: 48px;
}
.news-list > li {
  padding: 24px;
  display: flex;
  border-bottom: 1px solid #ededed;
}
.news-list > li .content {
  padding-top: 20px;
  margin-left: 40px;
}
.news-list .content > a {
  color: #555555;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.2s;
}
.news-list .content > a:hover {
  color: #1989fa;
}
.news-list .content > p {
  color: #999999;
  line-height: 1.5;
  padding-top: 16px;
}
.news-list .time {
  background: #f2f2f2;
  width: 180px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #a9a9a9;
}
.time > .day {
  font-size: 38px;
  font-weight: bolder;
  margin-bottom: 5px;
}
.time > .year-month {
  font-weight: bold;
}
.category {
  background-color: #f8f8f8;
}
.category > ul {
  display: flex;
  justify-content: center;
}

.category a {
  display: block;
  color: #666666;
  padding: 20px 35px;
  transition: all 0.2s;
}

.category a.active,
.category a:hover {
  background-color: #1989fa;
  font-weight: bolder;
  color: #fff;
}
.pagination {
  display: flex;
  justify-content: center;
}
.pagination-container {
  padding: 10px 0;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: inline-flex;
  position: relative;
  overflow: hidden;
}
.pagination .icon-pagination {
  color: rgba(51, 61, 69, 0.5);
  font-size: 11px;
  width: 50px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
  background-color: #fff;
}

.pagination-prev .icon-pagination-prev {
  transform: rotate(0deg);
}
.pagination-prev,
.pagination-next {
  margin-left: 15px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.pagination-next .icon-pagination-next {
  transform: rotate(180deg);
}
.pagination-page-number {
  border-radius: 5px;
  color: #333d45;
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 18px;
}
.pagination-page-number:hover {
  color: #fff;
  background-color: #1989fa;
}
.pagination-page-number.active {
    color: #1989fa;
}
