.business ul {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  max-width: var(--content-width);
  display: flex;
  flex-wrap: wrap;
}
.business ul > li {
  display: inline-block;
  width: 32%;
  margin-top: 22px;
  position: relative;
  text-align: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.business ul > li > a:first-child {
  width: 100%;
  margin-bottom: 16px;
}
.business ul > li:not(:nth-child(3n)) {
  margin-right: calc(4% / 2);
}
/*.mySwiper {*/
/*  max-width: 1400px;*/
/*}*/

/*.swiper-container .swiper-wrapper .swiper-slide ul > li {*/
/*    display: inline-block;*/
/*    width: 32%;*/
/*    margin-top: 22px;*/
/*    position: relative;*/
/*    text-align: left;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*}*/

/*!*.swiper-container .swiper-wrapper .swiper-slide ul > li .card-content {*!*/
/*!*    position: absolute;*!*/
/*!*    text-align: left;*!*/
/*!*    top: 0;*!*/
/*!*    left: 0;*!*/
/*!*    right: 0;*!*/
/*!*    bottom: 0;*!*/
/*!*    padding: 48px 40px;*!*/
/*!*    background: linear-gradient(*!*/
/*!*        180deg*!*/
/*!*        , rgba(255, 255, 255, 1) 28%, rgba(255, 255, 255, 0) 100% );*!*/
/*!*}*!*/
/*.swiper-container .swiper-wrapper .swiper-slide ul > li:not(:nth-child(3n)) {*/
/*    margin-right: calc(4% / 2);*/
/*}*/
/*.swiper-container .swiper-wrapper .swiper-slide ul {*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    margin-bottom: 40px;*/
/*    max-width: var(--content-width);*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*}*/

.pagination {
    display: flex;
    justify-content: center;
}
.pagination-container {
    padding: 10px 0;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: inline-flex;
    position: relative;
    overflow: hidden;
}
.pagination .icon-pagination {
    color: rgba(51, 61, 69, 0.5);
    font-size: 11px;
    width: 50px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
    background-color: #fff;
}

.pagination-prev .icon-pagination-prev {
    transform: rotate(0deg);
}
.pagination-prev,
.pagination-next {
    margin-left: 15px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.pagination-next .icon-pagination-next {
    transform: rotate(180deg);
}
.pagination-page-number {
    border-radius: 5px;
    color: #333d45;
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
    position: relative;
    z-index: 2;
    font-weight: 700;
    font-size: 18px;
}
.pagination-page-number:hover {
    color: #fff;
    background-color: #1989fa;
}
.pagination-page-number.active {
    color: #1989fa;
}
