/* ==========================================================================
   Common Style
   ========================================================================== */

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: "Roboto", sans-serif;
    --content-width: 1200px;
}

.page-content {
    max-width: var(--content-width);
    margin: auto;
}

.article-content {
    text-align:center
}

.blue-lg-button {
    padding: 18px 55px;
    display: inline-block;
    color: #fff;
    background-color: #133390;
}

/* ==========================================================================
   Header
   ========================================================================== */
.brand {
    font-weight: bold;
    font-size: 20px;
    width: 110px;
}

.brand > img {
    width: 100%;
}

.wrapper {
    max-width: var(--content-width, 1200px);
    margin-left: auto;
    margin-right: auto;
}

.site-header {
    position: relative;
}

.site-header__wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.nav__wrapper {
    display: flex;
}

.nav__item a {
    display: block;
    padding: 1.5rem 1rem;
    color: #333;
}

.nav__item:last-child a {
    padding-right: 0;
}

.nav__item.active > a {
    color: #3370ff;
}

.site-header.dark .nav__item a {
    color: #fff;
}

.nav__item.dropdown:hover > ul {
    background-color: #fff;
    visibility: visible;
    display: block;
    opacity: 1;
    transform: translateY(0px);
}

.dropdown {
    position: relative;
}

.site-header.dark .nav__item.dropdown ul a {
    color: #000000;
}

/* The sub dropdown */
.dropdown ul {
    z-index: 2;
    padding: 24px;
    visibility: hidden;
    display: none;
    left: 0;
    position: absolute;
    top: 100%;
    width: 200px;
    transition: 0.2s;
    transition-delay: 0s;
    opacity: 0;
    transform: translateY(12px);
    background: #fff;
    box-shadow: 4px 3px 10px 12px rgb(0 0 0 / 10%);
}

.dropdown .sub_ul::before {
    content: "";
    position: absolute;
    top: -8px;
    width: 14px;
    height: 9px;
    background: #fff;
    clip-path: polygon(50% 30%, 0% 100%, 100% 100%);
    left: 18%;
    will-change: transform;
    transform: translate(-50%);
}

/* ==========================================================================
   Product Card shared at index and product page
   ========================================================================== */

.advantage,
.business {
    background-size: cover;
    background-position: center;
    text-align: center;
}

.business {
    padding: 70px 0;
    padding-bottom: 60px;
    background-image: url("/website/images/new-background.jpg");
}

.business > h1 {
    font-size: 30px;
    color: #000000;
}

.business > p {
    font-size: 14px;
    color: #80859a;
    padding-top: 16px;
    padding-bottom: 56px;
}

.card-content {
    position: absolute;
    text-align: left;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 48px 40px;
    /*background: linear-gradient(*/
    /*  180deg,*/
    /*  rgba(255, 255, 255, 1) 28%,*/
    /*  rgba(255, 255, 255, 0) 100%*/
    /*);*/
}

.card-content > a {
    display: inline-block;
    padding: 6px 18px;
    border: 1px solid white;
    border-radius: 4px;
    line-height: 18px;
    color: white;
    margin-top: 30px;
    transition: all 0.2s;
}

.card-content > a:hover {
    color: #fff;
    border-color: #3370ff;
    background-color: #3370ff;
}

.card-content > p {
    font-size: 14px;
    line-height: 18px;
    color: #666666;
}

.card-content > h3 {
    font-size: 22px;
    color: #3370ff;
    margin-bottom: 12px;
}

.business > ol {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    max-width: var(--content-width);
    display: flex;
    flex-wrap: wrap;
}

.business > ol > li {
    display: inline-block;
    width: 32%;
    height: 340px;
    margin-top: 22px;
    position: relative;
    text-align: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.business > ol > li:not(:nth-child(3n)) {
    margin-right: calc(4% / 2);
}

.business > ol > li:nth-child(1) {
    background-image: url("/website/images/business-bg-1.jpg");
}

.business > ol > li:nth-child(2) {
    background-image: url("/website/images/business-bg-2.jpg");
}

.business > ol > li:nth-child(3) {
    background-image: url("/website/images/business-bg-3.jpg");
}

.business > ol > li:nth-child(4) {
    background-image: url("/website/images/business-bg-4.jpg");
}

.cover {
    background-image: url("/website/images/product.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 210px;
    padding-bottom: 40px;
    color: #fff;
}

.cover > nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.cover h2 {
    font-size: 40px;
    font-weight: bold;
}

.cover h3 {
    font-size: 18px;
    margin-bottom: 12px;
}

.cover .breadcrumb {
    display: flex;
    align-items: center;
}

.cover .breadcrumb a {
    color: #fff;
}

.cover .breadcrumb img {
    margin-right: 8px;
    display: inline-block;
}

/* ==========================================================================
   Footer
   ========================================================================== */

footer {
    background-color: #f5f5f5;
    padding: 80px 0;
    padding-bottom: 30px;
    color: #ffffff;
}

footer .content {
    display: flex;
    justify-content: space-between;
}

footer section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    margin-right: 180px;
}

footer ul {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

footer .copyright {
    margin-top: 80px;
    font-size: 12px;
    color: #1d1d1d;
    text-align: center;
}

footer .qr-code-box {
    text-align: center;
}

footer .qr-code-box > p {
    margin-top: 8px;
    font-size: 13px;
    color: #1d1d1d;
}

footer .qr-code {
    width: 120px;
    height: 120px;
}

footer li:first-child > a {
    font-weight: bold;
    color: #383737;
    margin-bottom: 24px;
}

footer li {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1;
    text-align: justify;
}

footer li > a {
    color: #7d869b;
    font-weight: 500;
}

.nav__wrapper .nav__item:hover > a {
    color: #3370ff;
}

.dropdown > .sub_ul > .first_child:hover > a {
    color: #3370ff;
}

.dropdown > ul > ._sub_nav__item:hover a {
    color: #3370ff;
}

.site-header.dark {
    background-image: url(/website/images/dark-header-bg.jpg);
}
